.usa-header {
    background-color: #112e51;
}

.usa-logo-text a {
    color: white;
}

.usa-flag-icon {
    margin-top: 3px;
}

.us-site-title {
    line-height: 80px;
    vertical-align: middle;
    margin-left: 30px;
}

.us-official-site {
    margin-left: 30px;
}

.us-right-menu {
    display: inline-block;
    position: absolute;
    right: 40px;
}

.us-logout-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 80px;
    vertical-align: middle;
}

@media screen and (max-width: 1046px) {

    .us-site-title {
        line-height: 4rem;
        vertical-align: none;
        margin-left: 1.5rem;
    }

    .us-right-menu {
        display: inline-block;
        position: absolute;
        right: 80px;
    }
    
    .us-logout-link {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        line-height: 4rem;
        vertical-align: middle;
    }

}