<div class="usa-section">
  <div class="usa-grid-full">
    <form class="usa-form form-center">
      <fieldset>
        <legend class="">Log In</legend>
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" name="username" type="text" autocapitalize="off" autocorrect="off">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password">
        </div>
        <div class="form-group">
            <input class="button-full" type="submit" value="Log In">
        </div>
      </fieldset>
      <div class="usa-form-note form-note-spacing">
          <a title="Click here to reset your password" href="javascript:void(0);" >Forgot Your Password?</a>
      </div>
    </form>
  </div>
</div>



