<div class="usa-section">
  <div class="usa-grid-full">
    <form class="usa-form form-center" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend class="">Log In</legend>
        <div *ngIf='!!errorMessage' class="usa-alert usa-alert-error" role="alert">
          <div class="usa-alert-body">
              <h3 class="usa-alert-heading"></h3><p class="usa-alert-text">{{errorMessage}}</p>
            </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input [(ngModel)]="login.username" id="username" name="username" type="text" autocapitalize="off" autocorrect="off">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="login.password" id="password" name="password" type="password">
        </div>
        <div class="form-group">
            <input class="button-full" type="submit" id="login" value="Log In">
        </div>
      </fieldset>
      <div class="usa-form-note form-note-spacing">
          <a title="Click here to reset your password" routerLink="/recover-password" >Forgot Your Password?</a>
      </div>
    </form>
  </div>
</div>



