<div fxLayout="row" style="">
  <aside fxFlex="15" fxFlexOffset="5" id="left-side-menu">
    <ul class="usa-sidenav-list">
      <li>
        <a [className]="router.url === '/' ? 'usa-current' : ''" routerLink="/">Home</a>
      </li>
      <li>
        <a [className]="router.url === '/create-time-card' ? 'usa-current' : ''" routerLink="/create-time-card" >Create Time Card</a>
      </li>
      <li *ngIf="currentUserIsAdmin()">
          <a [className]="router.url === '/manage-users' ? 'usa-current' : ''" routerLink="/manage-users" >Manage Users</a>
      </li>
    </ul>
  </aside>

  <div fxFlex="75" fxFlexOffset="5">
    <router-outlet></router-outlet>
  </div>
</div>

<nav role="navigation" class="usa-nav sidenav-mobile" id="mobile-menu-area">
  <div class="usa-nav-inner">
     <button class="usa-nav-close">
     <img src="/assets/img/close.svg" alt="close">
     </button>
     <ul class="usa-sidenav-list usa-accordion">
        <li>
           <a [className]="router.url === '/' ? 'usa-current' : ''" routerLink="/">
           <span>
             Home
           </span>
           </a>
        </li>
        <li>
         <a [className]="router.url === '/create-time-card' ? 'usa-current' : ''" routerLink="/create-time-card" >
           <span>
             Create Time Card
           </span>
         </a>
      </li>
        <li *ngIf="currentUserIsAdmin()">
            <a [className]="router.url === '/manage-users' ? 'usa-current' : ''" routerLink="/manage-users" >
            <span>
             Manage Users
           </span>
         </a>
      </li>
     </ul>
  </div>
</nav>
