<div class="usa-grid" style="max-width: none !important">
  <aside class="usa-width-one-sixth" >
    <ul class="usa-sidenav-list">
      <li>
        <a [className]="router.url === '/' ? 'usa-current' : ''" routerLink="/">Home</a>
      </li>
      <li>
        <a [className]="router.url === '/create-time-card' ? 'usa-current' : ''" routerLink="/create-time-card" >Create Time Card</a>
      </li>
    </ul>
  </aside>
  <div class="usa-width-five-sixths">
    <router-outlet></router-outlet>
  </div>
</div>

