<div class="pure-menu pure-menu-horizontal header">
    <a href="#" class="pure-menu-heading pure-menu-link">Time & Attendance</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">*User Name*</a></li>
    </ul>
</div>
<div fxLayout="row">
    <div class="pure-menu custom-restricted-width" fxFlex="20">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Create Time Card</a></li>
        </ul>
    </div>
    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>

