<h6 class="page-header">
    User Management
  </h6>
  <h2 class="page-subheader">
    User Management
  </h2>
  <h4 class="page-message">
    Add, Delete, or Edit users in the Time Management Application.
  </h4>
    <table class="usa-table-borderless" width="100%">
      <thead>
      <th>
        User Name
      </th>
      <th>
        User ID
      </th>
      <th>
        Roles
      </th>
      <th>
        Status
      </th>
      </thead>
        <tbody>
        <tr *ngFor="let user of allUsers">
          <td>
            {{user?.lastName}}, {{user?.firstName}}
          </td>
          <td>
            {{user.loginId}}
          </td>
          <td>

          </td>
          <td>
              <button class="usa-button" *ngIf="user.isActive">
                Activate User
              </button>
              <button class="usa-button" *ngIf="!user.isActive">
                Deactivate User
              </button>
          </td>
        </tr>
        </tbody>
    </table>
