<h6 class="page-header">
    User Management
  </h6>
  <h2 class="page-subheader">
    User Management
  </h2>
  <h4 class="page-message">
    Add, Delete, or Edit users in the Time Management Application.
  </h4>
    <table class="usa-table-borderless" width="100%">
      <thead>
      <th>
        User Name
      </th>
      <th>
        User ID
      </th>
      <th>
        Roles
      </th>
      <th>
        Status
      </th>
      </thead>
        <tbody>
        <tr>
          <td>
            Test
          </td>
          <td>
            Test ID
          </td>
          <td>
            Roles
          </td>
          <td>
            <div fxFlex fxLayout="row" fxLayoutAlign="center">
              <button routerLink="#" class="usa-button">
                Activate User
              </button>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="center">
              <button routerLink="#" class="usa-button">
                Deactivate User
              </button>
            </div>
          </td>
        </tr>
        </tbody>
    </table>
