<h6 class="page-header">
  Time Card
</h6>
<h2 class="page-subheader">
  {{timeCard?.getDateRange()}}
</h2>
<div class="page-message">
    <h4>
      Status: {{timeCard?.status}}
    </h4>
    <span>Delete Time Card</span>
</div>
<table class="usa-table-borderless">
  <thead>
    <th>Project Code</th>
    <th *ngFor="let date of timeCardDates">
      {{getDateShort(date)}}
    </th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr class="usa-form" *ngFor="let project of getActiveProjects()">
      <td>
        {{project.name}}
      </td>
      <td *ngFor="let date of timeCardDates">
        <div class="form-group usa-form-group-month">
          <input (click)="modifyTimeEntry(project.id, date)" class="usa-input-inline" type="text" value="{{getHoursForProjectAndDate(project.id, date)}}">
        </div>
      </td>
      <td>
        <div class="form-group">
          <span type="number" class="bold">{{getTotalProjectHours(project.id)}}</span>
        </div>
      </td>
    </tr>
    <tr class="usa-form">
      <td>
        <select name="options" id="options" [(ngModel)]="newRowProjectId">
          <option value>- Select -</option>
          <option *ngFor="let project of getUserProjectsWithoutTime()" value="{{project.id}}">{{project.name}}</option>
        </select>
      </td>
      <ng-container *ngIf="!newRowProjectId">
        <td *ngFor="let date of timeCardDates" class="table-cell-disabled"></td>
        <td class="table-cell-disabled"></td>
      </ng-container>
      <ng-container *ngIf="newRowProjectId">
      <td *ngFor="let date of timeCardDates">
        <div class="form-group usa-form-group-month">
          <input (click)="modifyTimeEntry(newRowProjectId, date)" class="usa-input-inline" type="text" value="{{getHoursForProjectAndDate(newRowProjectId, date)}}">
        </div>
      </td>
      <td>
        <div class="form-group">
          <span type="number" class="bold">{{getTotalProjectHours(newRowProjectId)}}</span>
        </div>
      </td>
      </ng-container>
    </tr>
    <tr>
      <td class="table-total">Total Hours</td>
      <td *ngFor="let date of timeCardDates">
        {{getTotalHoursForDate(date)}}
      </td>
      <td class="bold">
        {{timeCard?.getTotalHours()}}
      </td>
    </tr>
  </tbody>
</table>
<div>
  <button class="usa-button" (click)="save()">Sign Time Card</button>
</div>

<p-dialog [(visible)]="dialogDisplay"  [modal]="true" [responsive]="true" [width]="450" [minWidth]="200" [minY]="70">
    <div>
      <h6 class="page-header">
        Time Card
      </h6>
      <h3>
        {{getDateLong(currentEditedTime?.date)}}
      </h3>
      <h5>
        {{getProjectById(currentEditedTime?.projectId)?.name}}
      </h5>
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <label for="code">Hour</label>
          <input *ngIf="currentEditedTime" class="usa-input-inline" type="number" [(ngModel)]="currentEditedTime.hours" min="0" max="24">
        </div>
        <div class="usa-width-one-half">
         <label>Minute</label>
          <input class="usa-input-inline" type="number" value="" min="0" max="59">
        </div>
      </div>
      <div>
        <label for="input-type-textarea">Time Entry Notes</label>
        <textarea id="input-type-textarea" name="input-type-textarea"></textarea>
      </div>
    </div>
    <div>
      <button class="usa-button" (click)="saveTimeEntry()" >Save Time Entry</button>
      <button class="usa-button-secondary" (click)="cancelTimeEntry()" >Cancel</button>
    </div>
</p-dialog>
