<!-- Time Card Page Main Content -->

<h6 class="page-header">
  Time Card
</h6>
<h2 class="page-subheader">
  {{timeCard?.getDateRange()}}
</h2>
<div class="page-message">
    <h4 class="h4-margin-status">
      Status: {{timeCard?.status}}
    </h4>
    <span (click)="deleteDialogDisplay=true" class="delete-card" title="Delete Time Card">
      <img src="/assets/img/trash-can-icon.png" class="delete-trash-can"/>
      DELETE TIME CARD
    </span>
</div>
<table class="usa-table-borderless">
  <thead>
    <th scope="col">Project Code</th>
    <th scope="col">Task</th>
    <th scope="col" *ngFor="let date of timeCardDates">
      {{getDateShort(date)}}
    </th>
    <th scope="col">Total</th>
  </thead>
  <tbody>
      <tr class="usa-form" *ngFor="let time of getUniqueProjectAndTask()">
          <td data-label="Project">{{getProjectById(time.projectId)?.name}}</td>
          <td data-label="Task">{{getTask(time.projectId, time.taskId)?.name}}</td>
          <td data-label="" *ngFor="let date of timeCardDates">
            <span class="logged-hours-sm">{{getHoursForProjectTaskAndDate(time.projectId, time.taskId, date)}}</span>
            <img src="/assets/img/edit-time-entry.png" (click)="modifyTimeEntry(time.projectId, time.taskId, date)" class="edit-time-entry" title="Edit Time Entry"/>
            <div class="form-group usa-form-group-month logged-hours-lg">
              <input (click)="modifyTimeEntry(time.projectId, time.taskId, date)" class="usa-input-inline" type="text" value="{{getHoursForProjectTaskAndDate(time.projectId, time.taskId, date)}}">
            </div>
          </td>
          <td>
            <div class="form-group">
              <span type="number" class="bold">{{getTotalProjectHours(time.projectId, time.taskId)}}</span>
            </div>
          </td>
        </tr>
    <tr class="usa-form" *ngIf="timeCard?.status === 'In Progress'">
      <td>
        <select name="options" id="options" [(ngModel)]="newRowProjectId" (ngModelChange)="onProjectChange()">
          <option value>- Select -</option>
          <option *ngFor="let project of usersProjects" [ngValue]="project.id">{{project.name}}</option>
        </select>
      </td>
      <td>
        <select *ngIf="newRowProjectId" name="options" id="options" [(ngModel)]="newRowTaskId" (ngModelChange)="onTaskChange()">
          <option value>- Select -</option>
          <option *ngFor="let task of getProjectTasksWithoutTime(newRowProjectId)" [ngValue]="task.id">{{task.name}}</option>
        </select>
      </td>
      <ng-container *ngIf="!newRowTaskId">
        <td *ngFor="let date of timeCardDates" class="table-cell-disabled"></td>
        <td class="table-cell-disabled"></td>
      </ng-container>
      <ng-container *ngIf="newRowTaskId">
      <td *ngFor="let date of timeCardDates">
        <div class="form-group usa-form-group-month">
          <input (click)="modifyTimeEntry(newRowProjectId, newRowTaskId, date)" class="usa-input-inline" type="text" value="{{getHoursForProjectTaskAndDate(newRowProjectId, newRowTaskId, date)}}">
        </div>
      </td>
      <td>
        <div class="form-group">
          <span type="number" class="bold">{{getTotalProjectHours(newRowProjectId, newRowTaskId)}}</span>
        </div>
      </td>
      </ng-container>
    </tr>
    <tr>
      <td></td>
      <td class="table-total">Total Hours</td>
      <td *ngFor="let date of timeCardDates">
        {{getTotalHoursForDate(date)}}
      </td>
      <td class="bold">
        {{timeCard?.getTotalHours()}}
      </td>
    </tr>
  </tbody>
</table>
<div>
  <button class="usa-button" (click)="save()">Save</button>
  <button class="usa-button" (click)="submitTimeCard()">Sign Time Card</button>
</div>

<!-- Pop-Up Dialog Box for Allowing Users to Input Time & Notes on Time Card -->

<p-dialog [(visible)]="dialogDisplay"  [modal]="true" [responsive]="true" [width]="450" [minWidth]="200" [minY]="70">
    <div>
      <h6 class="page-header">
        Time Card
      </h6>
      <h3>
        {{getDateLong(currentEditedTime?.date)}}
      </h3>
      <h5>
        {{getProjectById(currentEditedTime?.projectId)?.name}} - {{getTask(currentEditedTime?.projectId, currentEditedTime?.taskId)?.name}}
      </h5>
      <div [ngClass]="{'usa-input-error': currentEditedTimeError, 'usa-input-no-error': !currentEditedTimeError}">
          <label for="code">Hour</label>
          <input *ngIf="currentEditedTime" type="number" [(ngModel)]="currentEditedTime.hours" min="0" max="24" (ngModelChange)="onEditedTimeChange()">
          <div class="error-text">{{currentEditedTimeError}}</div>
      </div>
      <div>
        <label for="input-type-textarea">Time Entry Notes</label>
        <textarea id="input-type-textarea" name="input-type-textarea"></textarea>
      </div>
    </div>
    <div>
      <button [disabled]="!currentEditedTime || !currentEditedTime.hours || currentEditedTimeError" class="usa-button" (click)="saveTimeEntry()" >Save Time Entry</button>
      <button class="usa-button-secondary" (click)="cancelTimeEntry()" >Cancel</button>
    </div>
</p-dialog>

<!-- Pop-Up Dialog Box Verifying Deletion of Time Card -->

<p-dialog [(visible)]="deleteDialogDisplay"  [modal]="true" [responsive]="true" [width]="450" [minWidth]="200" [minY]="70">
    <div>
      Are you sure you want to delete this time card?
    </div>
    <div>
      <button class="usa-button" (click)="deleteTimeCard()" >Delete</button>
      <button class="usa-button-secondary" (click)="deleteDialogDisplay=false" >Cancel</button>
    </div>
</p-dialog>
