<h6 class="page-header">
  Time Card
</h6>
<h2 class="page-subheader">
  Create New Time Card
</h2>
<h4>
  Complete the following information to create a new time card:
</h4>
<form class="usa-form" (ngSubmit)="onSubmit()">
  <label for="options">Time Card Date Range</label>
  <select name="options" id="options" [(ngModel)]="dateRange">
    <option value>- Select Time Range-</option>
    <option value="value1">Option A</option>
    <option value="value2">Option B</option>
    <option value="value3">Option C</option>
  </select>
  <div class="form-group">
    <input class="button-full" type="submit" value="Create Time Card">
    <button class="usa-button-secondary" >Cancel</button>
  </div>
</form>
