<h6 class="page-header">
  Home
</h6>
<h2 class="page-subheader">
  Welcome {{user?.firstName}} {{user?.lastName}}
</h2>
<h4 class="page-message">
  Below is a listing of your time cards:
</h4>
<div *ngIf="timeCards">
  <table class="usa-table-borderless" style="width: 60%">
    <thead>
      <th scope="col">Date Range</th>
      <th scope="col">Total Hours</th>
      <th scope="col">Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let timeCard of timeCards">
        <td data-label="Date Range"><a routerLink="/time-card/{{timeCard.id}}">{{timeCard.getDateRange()}}</a></td>
        <td data-label="Total Hours">{{timeCard.getTotalHours()}}</td>
        <td data-label="Status">{{timeCard.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!timeCards" class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <div fxFlex fxLayout="row" fxLayoutAlign="center">
        There are currently no time cards associated with your user id.
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="center">
        <button routerLink="/create-time-card" class="usa-button">
            Create Time Card
        </button>
    </div>
  </div>
</div>
